@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: #E3f2FD;
}
.chatbot-toggler {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content:center;
  right: 40px;
  bottom: 35px;
  height: 50px;
  width: 50px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #724ae8;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.show-chatbot .chatbot-toggler{
  transform: rotate(90deg);
}
.chatbot-toggler span {
  position: absolute;
}
.show-chatbot .chatbot-toggler span:first-child,
.chatbot-toggler span:last-child {
  opacity: 0;
}
.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}
.chatbot {
  background: #fff;
  width: 420px;
  position: fixed;
  overflow: hidden;
  transform: scale(0.5);
  pointer-events: none;
  opacity: 0;
  right: 40px;
  bottom: 100px;
  transform-origin: bottom right ;
  border-radius: 15px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;

}
.show-chatbot .chatbot{
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}
.chatbot header{
  background: #724ae8;
  padding: 16px 0;
  text-align: center;
  position: relative;
}
.chatbot header span{
  position: absolute;
  right: 20px;
  top: 50%;
  color: #fff;
  cursor: pointer;
  transform: translateY(-50%);
  display: none;
}
.chatbot header h2 {
  color: #fff;
  font-size: 1.4rem;
}
.chatbot .chatbox {
  height: 510px;
  overflow-y: auto;
  padding : 30px 20px 100px
}
.chatbox .chat {
  display: flex;
}
.chatbox .incoming span{
  height: 32px;
  width: 32px;
  color: #fff;
  align-self: flex-end;
  background: #724ae8;
  text-align: center;
  line-height: 32px;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}
.chatbox .outgoing{
  margin: 20px 0;
  justify-content: flex-end;
}
.chatbox .chat p {
  padding: 12px 16px;
  color: #fff;
  max-width : 75%;
  white-space: pre-wrap;
  background: #724ae8;
  border-radius: 10px 10px 0 10px;
  font-size: 0.95rem;
}
.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}
.chatbox .incoming p{
  color: #000;
  background-color: #f2f2f2;
  border-radius: 10px 10px 0 10px;
}
.chatbot .chat-input{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  gap: 5px;
  background-color: #ffff;
  padding: 5px 20px;
  border-top: 1px solid #ccc;
}
.chat-input textarea{
  height:55px;
  width: 100%;
  max-height: 180px;
  border: none;
  outline:  none;
  font-size: 0.95rem;
  resize: none;
  padding: 16px 15px 16px 0;
}
.chat-input span{
  align-self: flex-end;
  height: 55px;
  line-height: 55px;
  color: #724ae8;
  font-size: 1.35rem;
  cursor: pointer;
  visibility: hidden;
}

.chat-input textarea:valid ~ span{
  visibility: visible;
}

@media(max-width:490px){ 
  .chatbot{
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .chatbot .chatbox{
    height: 90%;
  }
  .chatbot header span{
    display: block;
  }
  
}